/*media queries*/
    
    @media only screen and (max-width:620px) {
  /* For mobile phones: */
        body, .container,section,footer,main, img main.one {
            width:100%;
            
            background color: aqua;
        }   
        
        
        #banner{
    background-image: url(../image/bm.jpg);
    background-size:cover; 
}
        
        section.full{
    height: 1380px;    
    padding-top: 5%;
}
        
        h2{ font-size:17px;
      padding:13% 0 8.5% 0;
     text-align: center;
            
        }
        
        p.one, p.two{
            font-size: 13px;
            color: #302e2f;
        } 
        
        li.one{
            padding-top: 3%;
        } 
        
        h3{
           float:inherit;
            font-size:15px;
            padding-bottom:5%;
        } 
        
      img.one{
            width:80%;
        }     
        
        h4{font-size:14px;
           font-weight: bold;
            padding-bottom: 7%;
            
        } 
        
         h5{
            padding:13% 0 8.5% 0;
        }
        
       img.right{
    display:inline-flex;
    width:95%;
    margin:4% 0 5% 0;
           
        }
        
        main.full{
            height:1700px;
        } 
        
        section.one{
            height:1950px;
        }
        
        article.one{
            height:850px;
        }
        
        main.one{
            height:2700px;
        }
        
        article.two{
            height:2900px;
        }
        
        article.three{
            height:1200px;
        }
        
        
        main.two{
            height:1200px;
        }
        
        
        p.text{padding:4% 5% 4% 0%;
            font-weight: bold;
    
}
        
        
      p.footer{
            padding-top: 12.5%;
            font-size:20px;
        }
        
         
        ul{
    padding-top: 5%;
        }
        
        footer a{
            font-size:12px;
        }
        
        h6{
            padding-top:25px;
        }
        
        
        img.right{
            width:100%;
        }   
        
        
       .row{
    clear:both;
    display:inline-grid;
    margin: 3% 0 0 6.5% ;
    text-align: center;
}

.column{
    float:left;
    width:100%;
    padding:2% -1% 1% 0%;
    
} 
        
 img.left{
            display:inline-flex;
            width:65%;
            margin-bottom: 5%;
        }        
        
        
    ul.two{
            width:80%;
        }     
        
        img.two{
            width:70%;
        }    
        
  iframe{
    padding:5%;
    width:100%;
    height:80%;
}      
        

main.projects{
    background-color: coral;
    padding:7%;
           text-align: center;
           width:86%;
        
}         
        
}
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        