/*media queries*/
    
    @media only screen and (max-width:710px) {
  /* For mobile phones: */
        body, .container,section,footer,main, img, nav a, nav li, banner,  {
            width:100%;
        }     
    
        h1{
             margin: 25% 25% 10% 25%;
        }
        
        p.center{
            padding-top:30%;
            font-size:40px;
            width:90%;
        }
        
        #banner{
            height:550px;
            
        }
        
        nav a{
    margin-right: 14px;
        }
        
        nav li{
            margin-left: 25px;
        }
        
        p.full{
            font-size:12.5px;
            margin-bottom: 3%;
        }

        img.about{
            width:80%;
            text-align: center;
            margin: 4% 4% 12% 8%;
        }
        
        main{
            height:780px;
            
        }
        
        h2{
            margin-top: 5.5%;
            font-size: 35px;
        }
        
        img.case{
            float:left;
            margin:none;
            width:78%;
            margin-left: 9%;
        }
        
        
        p.one{
            width:77%;
            margin-left: 11%;
        }
        
        h4{
            margin: 9% 0 5% 9%;
            text-align: left;
            width:90%;
        }
        
        button{
            margin:5% 0 5% 9%;
        }
        
        article.full{
            height:820px;
        }
        
 
       section{
            height:1470px;
        }
        
        h2{
            padding-top:9%;
        }
        
        p.footer{
            padding-top: 12.5%;
            font-size:20px;
        }
        
        ul{
    padding-top: 5%;
        }
        
        footer a{
            font-size:12px;
        }
        
        h6{
            padding-top:25px;
        }
        
        
}
