* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
/*  background: tan;  */
}

header{

    text-align: center;
/*    background: #f9f9f9;*/
    width: 100%;
/*    z-index: 1000;*/

}

#logo{
    width:200px;
    margin:2.12% auto;
}




nav ul{
    display: flex;
    justify-content: center;
    
}

nav li{
    float:left;
    list-style-type: none;
    margin:2.12%;
    padding:1%;
 
}

nav a{
    text-decoration: none;
    font-size:1.2em;
/*    font-family: verdana;*/
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(227, 166, 167);

}

nav a:hover{
    color: rgb(41 44 47);

}


#banner{

/*    background:lightgreen;*/
    clear: both;
     max-width: 100%;
/*     height: 500px;*/
    background-size:cover;
     background: #f9f9f9;
    
   
}

.wrapper{
/*    width:940px;*/
     max-width: 1200px;
/*    height:1000px;*/
/*    background:beige;*/
/*    background:white;*/
    margin:0 auto;
/*    background-color: #f9f9f9;*/
        
}



.row{
    clear: both;
    
}



.third{
    width:31.91%;
    margin-right:2.12%;
/*    background:white;*/
    background: #f9f9f9;
    float:left;
/*    height:300px;*/
    margin-bottom: 2.12%;
    margin-top:2%;
}

.third:last-of-type{
    margin-right: 0;
}





.col8{
    width:48.93%;
/*    background: pink;*/
/*    height:300px;*/
    float:left;
    margin-top:2.12%;
    margin-bottom:4.24%;
    padding:4%;
    
}


.col8:last-of-type{
    float:right;
}



img{
    max-width: 100%;
}



.banner{
    
text-align: center;
   padding:12% 6%;
    font-size:3em;
    line-height: 1.5;
    font-family: 'Josefin Sans', sans-serif;   
}



u{
    color:rgb(41 44 47);
    border-bottom:5px solid rgb(227, 166, 167);
    text-decoration: none;
    
}


h1{
    margin-bottom: 2.12%;
    padding-top:3%;
  
}

h3, h1, h2, h4{
    text-align: center;
   font-family: 'Josefin Sans', sans-serif;
    color: rgb(41 44 47);
    
}


h3{
    padding:2.12%;
}

h2{
    margin-top:3%;
    padding:8.12% 0 1% 0;
}

h4{
    color:lightgray;
    font-weight: 300;
}

h5{
  font-family: 'Josefin Sans', sans-serif;
     color: rgb(41 44 47);
}

footer{
    clear:both;
    background:white;
    margin:0 auto;
   
    
}


i{
    font-size:25px;
    color:rgb(41 44 47);
}

i:hover{
     color:rgb(227, 166, 167);
}

footer ul{
    display:flex;
     justify-content: center;
    margin:0% 0 0.5% 0; 
   
}

footer li{
    float:left;

    list-style-type: none;
    padding:1.2%;
}

.up-arrow{
    float:right;
    font-size:30px;
    margin:0 3% 3% 0;
}


/*-----About page-----*/

#about{
 width:70%;
/*   padding:10%;*/
    float:right;
    margin-top:10%;
   
}


.about p{
    line-height: 2;
    font-family: 'Lato', sans-serif;
    margin-right:12%;
     padding:2% 0 2% 0;
}


.about h1{
    padding:5% 0;
    font-size:3em;
}


  
.about main{
    float:left;
    width:36.17%;
/*    background: pink;*/
    margin-top:3%;
}

.about aside{
    float:right;
    width:61.71%;
/*    background:lightgreen;*/
     margin:5% 0;
    
}

/*-------  voice-------*/


.voice #heading, .voice .text, .voice #subheading, .voice .text1, .work #heading, .work .text, .work #subheading, .work .text1{
   font-family:'Lato', sans-serif;
     line-height: 1.6;
}




.voice .banner{
    padding:5%;
}

.voice #heading, .work #heading{

    font-size:2.5em;
/*    color:rgb(227, 166, 167);*/
     margin:1% 5%;
/*    color:rgb(86, 85, 91);*/
}

.voice .text, .work .text{
/*
    font-family:'Lato', sans-serif;
    line-height: 1.5;
*/
    margin:2% 5%;
    color:rgb(86, 85, 91);
}

.voice #subheading, .work #subheading{
/*    font-family:'Lato', sans-serif;*/
    font-size:1.8em;
/*     line-height: 1.5;*/
    margin:4% 5%;
/*    color:rgb(86, 85, 91);*/
}

.voice .text1, .work .text1{
/*
    font-family:'Lato', sans-serif;
    line-height: 1.5;
*/
    margin:2% 6.5%;
    color:rgb(86, 85, 91);
    
}

.voice .row, .work .row{
    margin:0 10%;
}




b{
     color:rgb(86, 85, 91);
/*    color:black;*/
}

#process{
/*    background:#f9f9f9;*/
   text-align: center;
    padding:2.12% 0;
}

#request{
    background:#f9f9f9;
    padding:1.12% 0 4.12% 0;
}

#desired{
    padding:0 5.24% 0 5.24%;
}

.voice li, .work li{
    margin-bottom:1.2%;
}

#persona{
    display:flex;
text-decoration: none;
    padding:0 4.12% 0 4.12%;
}

#person{
/*    text-decoration: none;*/
    margin:1%;
    list-style-type: none;
}


/*   Embedded container---*/


#embedded{
    display:block;
/*    justify-content: center;*/
    margin-left:4.12%;
    
    
}


iframe{
    width:46.96%;
    height:360px;
    float:left;
    padding:1.12%;
    margin-bottom:1.12%;
}

#embed{
    width:100%;
    
}



/* Work - Tracker case-study--*/


.work .banner{
    
padding:5% 6%;
      
}



#visual li{
     float: left;
    width:29.41%;
    list-style-type: none;
    margin: 0 5.88% 30px 0;
    
}

#visual li:nth-child(3),
#visual li:nth-child(6),
#visual li:nth-child(9)
{
    margin-right: 0;
}


#clickable{
    width:25%;
}


.dif{
    border: 1px solid #ccc;
}
 


































/*---------Media Queries for the website----------*/


@media screen and (max-width:1450px) {
    body {
/*        background: orange;*/
    }
  
}










@media screen and (max-width:1200px) {
    body {
/*        background: #ccc;*/
    }
    
  #clickable{
    width:30%;
}  
  

}






@media screen and (max-width:1000px) {
    
    body {
/*        background: #666;*/
    }
    
    #logo{
    width:180px;
    
}
     i{
    font-size:20px;
    
}
    
    footer li{
   
   
    padding:2%;
}
    
    
    .banner{
    font-size:2.5em;
         padding:18% 2%; 
}
    .about h1{
        font-size:2.5em;
    }
    


    u{
   
    border-bottom:3px solid rgb(227, 166, 167);
    
    
}
    footer ul{
     margin:0.5% 0 0.5% 0;
    }
    
#clickable{
    width:35%;
}
  
 
   
}





@media screen and (max-width:800px) {
    
    body {
/*        background: yellow;*/
    }
    
    
       .col8 {
    width: auto;
    float: none;
    margin-bottom: 20px;
           padding:1%;
}
    
  

.col8:last-of-type {
    float: none;
}
    
    .third {
    width: auto;
    float: none;
    margin-right:0;
    margin-bottom: 20px;
        padding:6.12%;
}
     .banner, h1, .about h1{
    font-size:2em;
         line-height: 1.5;

}
   
     
    .up-arrow{
    margin:0 5% 5% 0;
}
    
    footer ul{
   
    
    margin:3% 0 2% 0;
   
   
}
    
    
    footer li{

    padding:1.5%;
}
    
    h2{
    padding-bottom: 2%;
    
}
    
    .voice #heading, .work #heading{
    
    font-size:2em;

}

.voice .text, .work .text{
    font-size:0.9em;
    line-height: 1.8;
}

.voice #subheading, .work #subheading{
    
    font-size:1.5em;
    
}

.voice .text1, .work .text1{
    
font-size:0.9em;
}
    

    #persona{
    display:block;
        padding:4.12%;

} 
    
    
    #embedded{
    display:block;

    margin-left:2.12%;
    
}


iframe{
    width:100%;
    float:none;
    padding:1.12%;
}

 
  #clickable{
    width:40%;
}  
  
    
    
    #visual li{
    
/*    width:20.58%;*/
    width:40.58%;
        margin-left:12px;
       
    
    
}
    
    #visual li:nth-child(4),
#visual li:nth-child(8),
#visual li:nth-child(12)
{
    margin-right: 0;
}

    
    #visual li:nth-child(3),
#visual li:nth-child(6),
#visual li:nth-child(9)
{
    margin-right: 5.88%;
}
    

}
     
     
     
     
     
     
     
     
     
     
     













/*These styles are for my phone*/

@media screen and (max-width:700px){
    
    body {
/*        background: #ddd;*/
    }
    
    nav li{
    padding:4%;
 
} 
    nav a{
    
    font-size:1.1em;
   

}
    
    h2{
        font-size:1.35em;
    }
    
    
    #logo{
    width:160px;
    
}
    
    .banner{
    font-size:1.5em;
        padding:18% 2%;
        line-height: 1.7;
       
}
    
    h1, .about h1{
       font-size:1.5em;
        line-height: 1.8;
    }
    
    i{
    font-size:18px;
    
}
    
    footer li{
   
   
    padding:2%;
}
    
    h4{
        font-size:0.9em;
    }
  
    
/*    ---About seciton---*/
    
    
    .about main, .about aside{
/*       text-align: center;*/
        width:100%;
    }
    
    .about main{
        text-align: center;
    }
   
    #about{
        float:none;
        width:40%;
   
}
    
    .about p{
    margin-right:2.12%;
/*        padding:6.36%;*/
        padding:2% 6.36% 2% 6.36%;
        font-size:0.9em;
}
    
/*    voice 1 styles*/
    
    
    .voice .banner{
    padding:3%;
}
  
  
 .voice #heading, .work #heading {
    
    font-size:1.8em;

}


.voice .row{
    margin:5% auto;
}
  
   
  #clickable{
    width:50%;
}   
 
}
    




























